$text-color: #656565;
$red: #ca0404;
$white: #fff;
$dark: #0a1010;
$orange: #dd6735;
$light-green: #4bb4a2;
$dark-green: #33817d;
$green: #8cbc4c;
$light-gray: #F5F4F4;
$gray: #989898;
$main-font: "Roboto", sans-serif;
$title-font: "Patua One", cursive;
